<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container">

        <div class="loginBox">
            <img th:src=@{/images/logo.png} alt="logo.png" id="instaLogo">
            <form action="login" method="POST">
                <input type="text" name="email" placeholder="이메일 주소" class="inlineToBlock">
                <input type="password" name="password" placeholder="비밀번호" class="inlineToBlock">
                <button class="inlineToBlock SubmitSet SubmitColor" type="submit">로그인</button>
            </form>
        </div>
        <div class="otherWay">
            <p>계정이 없으신가요? <a class="noneUnderline" href="register">가입하기</a> </p>
        </div>
    </div>
</body>
</html>