<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
<div class="square1">
    <h3>Instagram</h3>
    <form action="login" method="POST">
        <label> <input type="text" name="email" placeholder="이메일 주소"> </label>
        <br>
        <label> <input type="password" name="password" placeholder="비밀번호"></label>
        <br>
        <button type="submit">로그인</button>

    </form>
</div>
<div class="square2">
    <p>계정이 없으신가요? <a href="register">가입하기</a> </p>

</div>

</body>
</html>