<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">

</head>
    <body>
    <div class="container">
        <div class="loginBox">
            <img src="images/logo.png" alt="logo.png" id="instaLogo">
            <form action="/register" method="POST">
                <input type="text" id="email" name="email" placeholder="이메일 주소" class="inlineToBlock" >
                <input type="text" id="name" name="name" placeholder="이름" class="inlineToBlock">
                <input type="text" id="nic_name" name="nic_name" placeholder="닉네임" class="inlineToBlock">
                <input type="password"  name="password" placeholder="비밀번호" class="inlineToBlock">

                <button class="inlineToBlock SubmitSet SubmitColor" type="submit">회원가입</button>
            </form>
        </div>
        <div class="otherWay">
            <p>계정이 있으신가요?
                <a class="noneUnderline" href="login">로그인 하기 </a>
            </p>
        </div>
    </div>

</body>
</html>